body{
	background: #e6e6e6;
}





#principal{
	background: white;
}
#branco{
	color: white;
}
#animes{
	background: white;
	border: 1px solid gray;
}




header ul a:hover {

	border-bottom: 2px solid white;

		}


h2,h5{
    color: #f7b600;
    width: 100%;
}


hr{
	color: #f4f4f4
}


.:hover {
  transform: scale(1.1); 

}


footer{

	text-align: center;
	padding: 15px;
	background: #CCC;
	clear: both;
	
}


#area-lateral{

	width: 250px;
	height: 120px;
	
}

/*main{
	padding-bottom: var(--main-height) ; 

}

:root{
	--main-height: 10rem;
}

.main{
	position: fixed; 
	width: 100%; 	
	top: 0;
	transition: top 0.7s;
}*/